@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap'); /* "Playball" font from Google */

body {
    background: #0fa8d230;
}

h1{
    font-family: 'Playball', cursive;
    text-align: center;
}

#map {
    width: 56vw;
    height: 93vh;
    background: #0fa8d2;
    border: 5px solid black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}